:root {
    --bg-button: #6272a4;
    --border-button: solid 1px #44475a;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    color: #f8f8f2;
}

.button:active {
    background-color: #54628b;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: #ff5555;
}

.button.button.operation:active {
    background-color: #e64a4a;
}